In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

spy = "~/project-group23-project/data/raw/spy.csv"
tsla = "~/project-group23-project/data/raw/TSLA.csv"

In [7]:



# Making a function out of the method chaining
#function 1 Goal: clean, rename, drop necessary rows/columns from 2 dataframes.


def load_and_clean_tsla_spy(spy,tsla):
    tsladf = (pd.read_csv(tsla, parse_dates=["Date"])
              .drop(columns=["High","Low","Adj Close"])
              .rename(columns={"Open":"open_tsla","Close":"close_tsla","Volume":"vol_tsla"})
              .reset_index(drop=True))
    
    spydf = (pd.read_csv(spy, parse_dates=["Date"])
             .drop(columns=["High","Low","Adj Close"])
             .rename(columns={"Open":"open_spy","Close":"close_spy","Volume":"vol_spy"})
             .reset_index(drop=True))
    return (spydf,tsladf)

x=load_and_clean_tsla_spy(spy,tsla)

#SOURCES USED:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.round.html
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

In [4]:
#function 2 GOAL: remove unwanted dates from df.
spydf=x[0]

removeolder=pd.to_datetime("2010-06-28")
removenewer=pd.to_datetime("2020-02-04")
def remove_dates(spydf):
    
    spyclean = (pd.DataFrame(spydf)
               .loc[(spydf.Date > removeolder)]
                .loc[(spydf.Date < removenewer)]
                .reset_index(drop=True))
    
    return spyclean
y=remove_dates(spydf)


    

#SOURCES USED:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.round.html
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html
#https://stackoverflow.com/questions/41513324/python-pandas-drop-rows-of-a-timeserie-based-on-time-range

In [5]:
#function 3 GOAL: merge the two cleaned data sets
spydf=y
tsladf=x[1]
tslaspymerged=(spydf,tsladf)

def merge_n_round(tslaspymerged):
    
    tslaspymerged = (pd.DataFrame(pd.merge(spydf,tsladf, how = 'inner'))
                     .round(decimals=2))
    return tslaspymerged
z=merge_n_round(tslaspymerged)

,Date,open_spy,close_spy,vol_spy,open_tsla,close_tsla,vol_tsla
0,2010-06-29,106.02,104.21,373649500,19.00,23.89,18766300
1,2010-06-30,103.92,103.22,284101700,25.79,23.83,17187100
2,2010-07-01,103.15,102.76,382924800,25.00,21.96,8218800
3,2010-07-02,103.11,102.20,233385200,23.00,19.20,5139800
4,2010-07-06,103.64,102.87,256935300,20.00,16.11,6866900
...,...,...,...,...,...,...,...
2411,2020-01-28,325.06,326.89,63834000,568.49,566.90,11788500
2412,2020-01-29,328.38,326.62,53888900,575.69,580.99,17801500
2413,2020-01-30,324.36,327.68,75491800,632.42,640.81,29005700
2414,2020-01-31,327.00,321.73,113845600,640.00,650.57,15719300
2415,2020-02-03,323.35,324.12,69242300,673.69,780.00,47065000

ModuleNotFoundError: No module named 'project_functions'

ImportError: attempted relative import with no known parent package